.header-gradient-border {
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		var(--border-quaternary-gray) 51%,
		rgba(255, 255, 255, 0) 100%
	);
	border-image-slice: 1;
	background-color: var(--color-primary-gray);
}
