@import "tailwindcss";
@import "@fontsource/quicksand/400.css";
@import "@fontsource/quicksand/600.css";

@theme {
	--color-light-gray: #1e1e21;

	--color-gray: #2c383b;
	--color-primary-gray: #17171b;
	--color-secondary-gray: #c4c4c4;
	--color-tertiary-gray: #606265;
	--color-quaternary-gray: #323232;
	--color-primary-orange: #f36f45;
}

.body {
	padding: 0 !important;
}
